@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    margin: auto;
    padding: 0;
    font-family: 'Space Mono', monospace;
    letter-spacing: -1px;
}

.contact-section {
    margin-top: -5px;
    width: 100%;
    background-color: rgb(252, 216, 186);
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-header {
    text-align: center;
    padding: 20px 0px;
}

.contact-header-text {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
}

.form-contact-section {
    padding: 20px 0px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-section {
    flex: 50%;
    text-align: center;
    border-width: 1px;
    border-radius: 25px;
    border-style: solid;
    border-color: #c94e02;
    margin-right: 10px;
    padding: 20px 10px;
}

.form-2-section {
    width: 60%;
    height: auto;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c94e02;
    margin-left: 10px;
    height: 280px;
}

.input {
    margin: 5px 5px;
    padding: 5px;
    background: none;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #c94e02;
    outline-color: #c94e02;
    height: 30px;
}

.big-ala {
    font-size: 120px;
    color: #ec9563;
}

.name-input {
    width: 43%;
    margin-right: 10px;
}

.number-input {
    width: 43%;
    margin-left: 10px;
}

.email-input {
    width: 92%;
}

.message-input {
    width: 92%;
    height: 90px;
}

textarea {
    margin: 5px 5px;
    padding: 5px;
    background: none;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #c94e02;
    outline-color: #c94e02;
}

.submit-input {
    background-color: #c94e02;
    color: white;
    padding: 7px 15px;
    width: 92%;
    border: none;
    font-weight: 400;
    border-radius: 5px;
    text-transform: uppercase;
    outline-color:none;
    box-shadow: 0px 0px 2px black;
    box-shadow: 0px 0px 2px black inset;
    height: auto;
    letter-spacing: 1px;
}

.form-2-section-img {
    margin: 20px 0px;
}

.ala {
    color: #ec9563;
    font-size: 25px;
    padding: 10px;
}

@media screen and (max-width: 700px) {

    
    .form-contact-section {
        flex-direction: column;
        width: 80%;
    }

    .form-section {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .form-2-section {
        margin-left: 0px;
        margin-top: 20px;
        width: 100%;
    }

    .div-icons {
        text-align: center;
        padding: 20px;
    }

}