@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    margin: auto;
    padding: 0;
    font-family: 'Space Mono', monospace;
    letter-spacing: -1px;
}

.main-2 {
    margin-top: -5px;
    width: 100%;
    background-color: rgb(252, 216, 186);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-1 {
    width: 340px;
    height: auto;
}

.about-us-header {
    text-align: center;
    padding: 20px 0px;
}

.about-us-header-text {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
}

.svg-section-container {
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.who-we-are {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px 40px 20px;
}

.who-we-are-big-text {
    display: none;
}

.who-we-are-big-text-2 {
    flex: 20%;
    width: 100%;
    padding-right: 10px;
    font-size: 30px;
    transform: rotate(90deg);
    color: #c94e02;
    opacity: .5;
}


.btn-3 {
    margin-top: 20px;
    background-color: none;
    font-size: 15px;
    color: #c94e02;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 15px;
}

.who-we-are-small-text {
    flex: 80%;
    width: 100%;
    padding: 0px 0px 0px 10px;
    font-size: 20px;
    text-align: justify;
    font-size: 100%;
}

.svg-section {
    flex: 50%;
    width: 100%;
    padding-right: 10px;
}

.svg-text-container {
    flex: 50%;
    width: 100%;
    padding-left: 10px;
}

.svg-text {
    width: 100%;
    font-size: 20px;
    text-align: justify;
}

i {
    font-size: 80%;
}

@media screen and (max-width: 700px) {
    .main-2 {
        margin-top: -10px;
        width: 100%;
        background-color: rgb(252, 216, 186);
    }
    .about-us-header-text {
        font-size: 25px;
    }
    .svg-section {
        text-align: center;
        padding: 20px 0px 40px 0px;
    }
    .img-1 {
        width: 250px;
        height: auto;
    }
    .svg-section-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .svg-section {
        width: 90%;
        padding-right: 0px;
    }
    .svg-text-container {
        width: 90%;
        padding-left: 0px;
    }
    .svg-text {
        width: 100%;
        font-size: 15px;
        text-align: justify;
    }
    .who-we-are-small-text {
        font-size: 15px;
    }
    .who-we-are-big-text-2 {
        display: none;
    }
    .who-we-are-big-text {
        display: block;
        flex: 20%;
        width: 100%;
        padding-right: 10px;
        font-size: 30px;
        transform: rotate(0deg);
        color: #c94e02;
        opacity: .5;
    }
}